# Python + SQL

### Using SQLite
---

## Introduction

Compared to using pandas `sqldf`, SQLite is meant to be a more robust approach.  Ya'll know how much I admire a robust approach.

* comes with Python
* fully functional DB
* good SQL support (can do outer joins for example)
* good for data analysis work

## Imports

In [1]:
import sqlite3
import pandas as pd

print(pd.__version__)
print(sqlite3.version)
print(sqlite3.sqlite_version)

1.4.3
2.6.0
3.37.2

---

## Working with SQLite

### *Connect* to the DB (in-memory)

In [2]:
db = sqlite3.connect(':memory:')

### Using the DB connection, create a *cursor* to execute SQL queries

In [3]:
cursor = db.cursor()

### Use the cursor to *execute* SQL queries to the DB

Let's create a new table.  Don't forget to `commit` after your SQL statement.

In [4]:
cursor.execute("""
  CREATE TABLE books(id INTEGER PRIMARY KEY,
  title TEXT, author TEXT, price TEXT, year TEXT)
""")
db.commit()

Ah.. Now let's add a couple rows to the table.

In [5]:
cursor.execute("""
  INSERT INTO books values(1, "Pringles: The Story", "Jimmy Breeze", 35.00, 2015)
""")
cursor.execute("""
  INSERT INTO books values(2, "Big Foot Town", "Jimmy Carter", 135.00, 1996)
""")
db.commit() # commits are resource intensive.  sometimes it's a good idea to do several executes at one time like this

### Convert query results into a pandas data frame

In [6]:
list_books = cursor.execute("""
  SELECT *
  FROM books
""").fetchall()
db.commit()
print(list_books)

[(1, 'Pringles: The Story', 'Jimmy Breeze', '35.0', '2015'), (2, 'Big Foot Town', 'Jimmy Carter', '135.0', '1996')]

As it happens, it is returning a list.  Let's convert that into a `pandas` data frame using the `read_sql_query` pandas method.

In [8]:
df_books = pd.read_sql_query("SELECT * FROM books", db)
df_books.head()

   id                title        author  price  year
0   1  Pringles: The Story  Jimmy Breeze   35.0  2015
1   2        Big Foot Town  Jimmy Carter  135.0  1996

### Use the *cursor* to drop tables

In [9]:
cursor.execute("""
  DROP TABLE books
""")
db.commit()

### Close thy DB connection

In [10]:
# goodbye database
cursor.close()
db.close()